@import '../../variables.scss';
:host {
  display: flex;
  flex: 0;
  min-height: 20px;
  position: relative;
  border-top: 2px solid white;
}

.block {
  &.duration {
    background: lighten($green,0.11) ;
  }
  &.rest {
    background: lighten($rest, 0.7);
  }
}

.progress {
  position: absolute;
  pointer-events: none;
  height: 100%;
  border-top: 1vh solid white;
  background: rgba(255, 255, 255, 0.3);
  &.transition {
    transition: linear 100ms;
  }
}
