<div class="container"
     *ngIf="{
              config:configuration$ | async,
              status : timerStatus$ | async,
              startTime: startTimeStatus$ | async,
              execution: progress$  | async,
              runningSettings: runningSettings$ | async
            } as data">
  <app-timer [startTime]="data.startTime"
             [warningTimer]="data.config.warningTimer"
             [block]="data.execution?.currentBlock"
             [volume]="data.config.volume"
             [progress]="data.execution?.progress - data.execution?.currentDuration">
    <div>{{ (data.execution?.currentIndex / 2 || 0 ) + 1 | number: '1.0-0' }}/{{data.config.totalIterations}}</div>
  </app-timer>
  <app-summary-graph [transition]="data.status == 2"
                     [iterations]="data.config.totalIterations"
                     [duration]="data.config.stepDuration"
                     [progress]="data.execution?.progress"
                     [totalDuration]="data.runningSettings.totalDuration"
                     [restDuration]="data.config.restDuration"
                     (selectGraph)="selectGraph($event)"></app-summary-graph>
  <app-controls [status]="data.status"
                [volume]="data.config.volume"
                (doPrev)="selectGraph(data.runningSettings.blocks[data.execution.currentIndex-1])"
                (doNext)="selectGraph(data.runningSettings.blocks[data.execution.currentIndex+1])"
                (doPause)="pause()"
                (doPlay)="play(data.runningSettings.blocks)"
                (doStop)="stop()"
                (changeVolume)="updateVolupe($event , data.config)"></app-controls>

  <button class="configuration material-icons"
          [disabled]="data.status !== 0"
          [routerLink]="['/settings']"
          routerLinkbuttonctive="router-link-active">settings</button>
</div>
