<button class="material-icons small"
        *ngIf="status !== 0"
        (click)="prev()">skip_previous</button>
<button class="material-icons"
        *ngIf="status < 2"
        (click)="play()">play_arrow</button>
<button class="material-icons"
        *ngIf="status === 2"
        (click)="pause()">pause</button>
<button class="material-icons"
        [disabled]="status == 0"
        *ngIf="status !== 0"
        (click)="stop()">stop</button>
<button class="material-icons small"
        *ngIf="status !== 0"
        (click)="next()">skip_next</button>
<button (click)="toggleVolume()"
        class="volume small">
  <div class="material-icons">volume_up</div>
  <div class="controls-volume"
       *ngIf="isVisibleVolume">
    <input type="range"
           (click)="$event.stopPropagation()"
           [formControl]="volumentControl"
           [min]="0"
           [max]="1"
           [step]="0.1" />
  </div>
</button>
