@import '../../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $green;
  color: white;
  flex: 1;
  align-items: center;
  justify-content: center;
  &.duration {
    background: $green;
  }
  &.rest {
    background: $rest;
  }
  &.warning {
    background: $warning;
  }
  .remaining-timer {
    font-size: 15vw;
  }
}




