@import "./variables.scss";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: $font;
  font-weight: lighter;
  overflow: hidden;
  display: flex;
}

body,
html {
  height: 100%;
}

app-root {
  flex: 1;
  display: flex;
}
