<div class="header material-icons">
  <a [routerLink]="['']">keyboard_backspace</a>
  <button (click)="save()"
          [disabled]="form.invalid || form.pristine">Save</button>
</div>
<form [formGroup]="form"
      (ngSubmit)="save()">

  <div class="form-group">
    <label>People in meeting</label>
    <input type="number"
           formControlName="totalIterations" />
  </div>
  <div class="form-group">
    <label>Duration</label>
    <input type="number"
           formControlName="stepDuration" />
  </div>
  <div class="form-group">
    <label>Time between rotation</label>
    <input type="number"
           formControlName="restDuration" />
  </div>
  <div class="form-group">
    <label>Warning time</label>
    <input type="number"
           formControlName="warningTimer" />
  </div>
  <div class="form-group">
    <label>Allow pause</label>
    <input type="checkbox"
           formControlName="allowPause" />
  </div>
  <div class="form-group">
    <label>Beep volume</label>
    <input type="range"
           min="0"
           max="1"
           step="0.05"
           formControlName="volume" />
    <span>{{form.value.volume * 100 | number : '1.0-0'}}%</span>
  </div>
</form>
<app-summary-graph [iterations]="form.value.totalIterations"
                   [duration]="form.value.stepDuration"
                   [restDuration]="form.value.restDuration"></app-summary-graph>
