@import "../../variables.scss";

$distance: 20px;

:host {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  overflow-x: hidden;
  max-height: 100%;
  flex: 1;
  .header {
    flex: 0 0 50px;
    align-items: center;
    display: flex;
    background: $green;
    padding: 0 $distance;
    justify-content: space-between;
    a {
      color: white;
      text-decoration: none;
    }
    button{
      background-color: transparent;
      border: none;
      color: white;
      font-size: 14px;
      font-weight: bolder;
      &:disabled{
        color: #dfdfdf;
      }
    }
  }
  form {
    flex: 1;
    overflow-y: auto;
    .form-group {
      display: flex;
      margin: $distance;
      position: relative;
      align-items: center;
      &:after {
        content: "";
        bottom: $distance / 2 * -1;
        left: 0;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid lightgray;
      }
      label {
        flex: 1;
      }
      input {
        flex: 0 0 80px;
        padding: 12px;
        font-size: 16px;
        color: #9a9a9a;
        text-align: right;
      }
    }
  }
}
